---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import Testimonials from '../components/Testimonials.astro';
import Team from '../components/Team.astro';
import CtaBanner from '../components/CtaBanner.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Services />
    <Gallery />
    <Testimonials />
    <Team />
    <CtaBanner />
  </main>
</Layout>
